@font-face { font-family: RedRose; 
    src: url(RoseRed-Regular.ttf); 
}
h1 {color: #663333; font-size: 25pt; font-family: RoseRed; background-color: #ff99ff; border-style: solid; border-color: #cc9999; border-width: 5px; text-align: center;}
footer {font-size: 14pt;}
a:link {color: #330000;}
a:hover {color: #336666;}
a:focus {color: #660000;}
a:visited {color: #660033;}
a:active {color: #993333;}
a{text-decoration: none; font-size: 10pt;}
h3 {color: #330000; font-size: 20pt;}
p{font-family: Book Antiqua;}
img {
  float: right; padding: 30px; left: -30px; position: relative;
}
main li {color: #990033;}
li {color:  #cc0066;}
blockquote {font-family: RedRose;
}
body {background-color:#ffccff; margin: 15px; padding: 5em;}
footer {border-top-style: solid; border-top-width: 5px; padding: 5px; border-top-color: #cc9999;}
footer ul li p img {transition: all ease-out 1s;}
footer ul li p img:hover {cursor: pointer; height: 110px;}
@media screen and (max-width: 1024px) {
    body {
        width: 100%;
        top: 0px;
        margin: 0px;
        padding: 5px;
        position: relative;
        font-size: 100%;
    }
    footer { width: 100%;
    }
    header {width: 100%; 
    top: 0px;
    margin: 0px;
    }
    nav {width: 100%;
    padding: 10px;
    padding-top: 0px;
}
    title {width: 100%;
    }
    img {
        float: right;
        margin: 1%;
        width: 30%; 
    }
    ul li img {float: left;}
    p {width:100%;
        font-size: .75em;
    }
    h1 {font-size: 1.75em;
    }
    h2 {font-size: 1.5em;
    }
    blockquote {font-size: 1em;}
    footer {font-size: .75em;}
    ul {width: 70%; font-size: .75em;
    }
    p a {font-size: 1.5em;
    }
    h3 {font-size: 1.125em;
    }
    
}
@media print {
    
    body {background-color: white; font-family: Georgia, serif; font-size: 16pt; margin: 0; padding: 0;
    
    }
    * {color: #000;}
    nav {display: none;}
    p {color: black;}
    ul, main li, li {color: #000;}
    h1 {color: black; border-color: #000;}
    footer {border-top-color: #000;}
    
}

@media print {
    
    body {background-color: white; font-family: Georgia, serif; font-size: 16pt; margin: 0; padding: 0;
    
    }
    * {color: #000 !important;}
    nav {display: none !important;}
    blockquote {font-family: RedRose;}
    
}
/* Validated: July 17, 2020 */