h1 {color: #663333; font-size: 25pt; font-family: Book Antiqua; background-color: #ff99ff; border-style: solid; border-color: #cc9999; border-width: 5px;}
footer {font-size: 14pt;}
a:link {color: #330000;}
a:hover {color: #336666;}
a:focus {color: #660000;}
a:visited {color: #660033;}
a:active {color: #993333;}
a{text-decoration: none; font-size: 10pt;}
h3 {color: #330000; font-size: 20pt;}
p {font-family: Book Antiqua;}
img {
  float: right; padding: 30px; left: -30px; position: relative;
}
main li {color: #990033;}
li {color:  #cc0066;}
body {background-color:#ffccff;}
footer {border-top-style: solid; border-top-width: 5px; padding: 5px; border-top-color: #cc9999;}